body{
    background-image: url("image1.jpeg");
    background-size: cover;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    text-align: center;
    height: 100vh;

}

.container{
 background: rgb(44, 44, 44);
 max-width: 80%;
 
 margin: 50px auto;
 border: none;
 border-radius: 5px;
 padding: 20px;
}

h1{
    margin-top: 10px;
    margin-bottom: 10px;
}

h2{
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;

}

button{
    
    color: white;
    font-size: 20px;
    padding: 10px 40px 10px;
    margin: 0px auto;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    display: grid;
    grid-template-rows: auto auto;
    width: 200px;
    border: 1px solid black;
    
}

#increment-btn{
    margin-bottom: 20px;
    background: rgb(71, 4, 4);
}

#increment-btn:hover{
    background: rgba(121, 19, 19, 0.527);
}

#save-btn{
    background: rgb(75, 0, 75);

}

#save-btn:hover{
    background: rgba(99, 1, 99, 0.356);
}

#save-el{
    color: white;
}